.i img{
    height: 500px;
    width: 550px;
}
#contact{
   padding: 5%;
}
#contactt{
    background-image: url('https://cdn3.vectorstock.com/i/1000x1000/48/37/colorful-abstract-background-design-vector-21524837.jpg');
}
