<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
<h2 id="contactt" style="text-align:center ; margin-top: 5%; padding: 30px; margin-bottom: 2%;">Contact Us</h2>
<div id="contact" fxLayout="row" fxLayoutAlign="center"
fxLayoutGap="40px">
    <div class="i">
        <img src="https://c0.wallpaperflare.com/preview/143/719/777/laptop-keyboard-hands-typing.jpg">
    </div>
    <div class="color" style="font-family: 'Lobster Two', cursive;">
        <h1>Let's Talk</h1>
        <h2>Meet us In Person</h2>
        <span>Address : 42 street , Noida,Delhi</span>
        <br><br><br>
        <h2> Customer Support</h2>
        <span>Phone No.: +91 7896542365</span>
        <br><br><br>
        <h2>Order Inquiries</h2>
        <a href="socialwalfare980@gmail.com">socialwalfare980@gmail.com</a>
        <br><br><br>
        <h2>Order Returns</h2>
        <span>Phone No : +91 9854763212</span>
         
    </div>
</div>