@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@300&family=Roboto:wght@300&family=Sofia&display=swap');

:root{
    --light-grey:#475a62c8;
    --primary-color:#ff9eb8f5;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}

.primary-color{
    color:var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color:var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}

header{
    background-color:#ff9eb8f5;
    font-family: var(--roboto);
}

header.container.site-title{
    font-family: var(--sofia);
    /* margin-left: 40%; */
}

.header-links a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    /* margin-left: 100px; */
}

.navbar-nav{
    padding:0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 1em;
    color: var(--light-grey);
    display: flex;
    justify-content: left;
}
#navv li a:hover,
#navv li a.nav-item
{
  color: rgb(255, 127, 127);
}

.navbar-nav .nav-item .nav-link{
    padding: 01.3em;
}
h2{
    font-size:27px;
}

button{
    border:none;
    background-color:none;
}