<section>
<h2 id="collection" style="text-align:center ; margin-top: 5%; padding: 30px; margin-bottom: 2%;">Collections</h2>
      <div class="card" style="float: left; margin-left: 100px;">
        <img src="/assets/top3.jpg" alt="Denim Jeans" style="width:90%">
        <h3>Ruffle sleve top</h3>
        <p class="price">Rs.440</p>
        <p><button>Add to Cart</button></p>

       </div>
       <div class="card1" style="float: left; margin-left: 110px;">
          <img src="/assets/card.jpg" alt="Denim Jeans" style="width:90%;height: 50%;">
          <h3>Bow Tie Top</h3>
          <p class="price">Rs.350</p>
          <p><button>Add to Cart</button></p>
         </div>
        <div class="card2" style="float: left; margin-left: 110px;" >
          <img src="/assets/dress2.jpg" alt="Denim Jeans" style="width:91%">
          <h3>Frock</h3>
          <p class="price">Rs.560</p>
          <p><button>Add to Cart</button></p>
          </div>  
          <div class="card3" style="float: left; margin-left: 110px;" >
            <img src="/assets/topp.jpg" alt="Denim Jeans" style="width:70%">
            <h3>Casual Top</h3>
            <p class="price">Rs.450</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card4" style=" float:left;margin-left: 100px;margin-top: 40px;" >
            <img src="/assets/relax.jpg" alt="Denim Jeans" style="width:70%">
            <h3>Tailored Jeans</h3>
            <p class="price">Rs.300</p>
            <p><button>Add to Cart</button></p>
          </div> 
          <div class="card5" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="/assets/casual.jpg" alt="Denim Jeans" style="width:80%; height:50%;">
            <h3>Floral Print Dress</h3>
            <p class="price">Rs.549</p>
            <p><button>Add to Cart</button></p>
          </div> 
          <div class="card6" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="/assets/sec.jpg" alt="Denim Jeans" style="width:93%;height: 50%;">
            <h3>Slim Frock</h3>
            <p class="price">Rs.459</p>
            <p><button>Add to Cart</button></p>
          </div> 
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="/assets/last.jpg" alt="Denim Jeans" style="width:76%">
            <h3>Midi Dress</h3>
            <p class="price">Rs.999</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://sslimages.shoppersstop.com/B8AC9759D45547D9AEF177F0DE13B7C8/img/2F00EDB51DD74AF4909809430D8B2386/204577356_9607_2F00EDB51DD74AF4909809430D8B2386.jpg" alt="Denim Jeans" style="width:250px;height: 230px;">
            <h3>Checked Shirt</h3>
            <p class="price">Rs.1000</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://assets.ajio.com/medias/sys_master/root/20201113/XDPw/5fad98c6aeb269d5630d0177/-473Wx593H-461594723-burgundy-MODEL2.jpg" alt="Denim Jeans" style="width:73.5%">
            <h3>Tunnic Top</h3>
            <p class="price">Rs.400</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://www.kime.com.my/image/kime/image/cache/data/all_product_images/product-3106/qxg7AUqJ1579078264-420x630.jpg" alt="Denim Jeans" style="width:250px;height: 230px;">
            <h3>Culottes Palazzo</h3>
            <p class="price">Rs.580</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card10" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://img3.junaroad.com/uiproducts/12168530/pri_175_p-1477401612.jpg" alt="Denim Jeans" style="width:70%">
            <h3>Long Top</h3>
            <p class="price">Rs.845</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://img3.junaroad.com/uiproducts/18471078/pri_175_p-1661004250.jpg" alt="Denim Jeans" style="width:70%">
            <h3>Floral Long Dress</h3>
            <p class="price">Rs.1012</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://5.imimg.com/data5/HG/YV/BZ/SELLER-4398679/ladies-kurta-1000x1000.jpeg" alt="Denim Jeans" style="width:93%">
            <h3>Kurti</h3>
            <p class="price">Rs.700</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://4.imimg.com/data4/IO/CV/GLADMIN-185583/ladies-denim-shirt-500x500.jpg" alt="Denim Jeans" style="width:93%">
            <h3>Denim Shirt</h3>
            <p class="price">Rs.621</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://cdn.fashiola.in/L85948611/remain-wide-sleeve-cargo-shirt.jpg" alt="Denim Jeans" style="width:62%">
            <h3>Cargo Shirt</h3>
            <p class="price">Rs.814</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://5.imimg.com/data5/BH/HH/MY-49063073/pant-500x500.jpg" alt="Denim Jeans" style="width:93%">
            <h3>Cargo Pant</h3>
            <p class="price">Rs.987</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://i.pinimg.com/564x/f1/37/e2/f137e22d37909c9ec9268f8bb1e49d8e.jpg" alt="Denim Jeans" style="width:71%">
            <h3>T-shirt</h3>
            <p class="price">Rs.654</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://m.media-amazon.com/images/I/71L+seHTWfL._UY550_.jpg" alt="Denim Jeans" style="width:72%">
            <h3>Floral Print Long Top</h3>
            <p class="price">Rs.720</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <div class="card7" style=" float:left;margin-left: 110px;margin-top: 40px;" >
            <img src="https://i.pinimg.com/736x/a2/b5/60/a2b5607df4be83510a3838ea25102d19.jpg" alt="Denim Jeans" style="width:78%">
            <h3>Rayon Short Kurta</h3>
            <p class="price">Rs.890</p>
            <p><button>Add to Cart</button></p>
          </div>  
          <!-- <div id="imgg">
            <img src="https://www.pixel4k.com/wp-content/uploads/2018/10/mountains-grids-polygon-4k_1540752911.jpg">
            
          </div> -->

          <div id="col">
            
          </div>
        </section>
