.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:6%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  }
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:15%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  } 
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:20%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  } 
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:20%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  } 
  .card4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:20%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  } 
  .card5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:20%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  } 
  .card6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:20%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  } 
  .card7 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:20%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  } 
  .card10{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left:20%;
    text-align:center;
    font-family: arial;
    border-radius: 2%;
  }

  .price {
    color: grey;
    font-size: 19px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card1 button:hover {
    opacity: 0.7;
  }
  .card2 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card2 button:hover {
    opacity: 0.7;
  }
  .card3 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card3 button:hover {
    opacity: 0.7;
  }
  .card4 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card4 button:hover {
    opacity: 0.7;
  }
  .card5 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card5 button:hover {
    opacity: 0.7;
  }
  .card6 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card6 button:hover {
    opacity: 0.7;
  }
  .card7 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card7 button:hover {
    opacity: 0.7;
  }
  .card10 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(61, 34, 44, 0.753);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card10 button:hover {
    opacity: 0.7;
  }
  section{
    margin-bottom: 7%;
    background-image: url('https://www.pixel4k.com/wp-content/uploads/2018/10/mountains-grids-polygon-4k_1540752911.jpg');
    background-repeat: no-repeat;
  }
  #col{
    background-image: url('https://files.123freevectors.com/wp-content/original/202640-plain-light-color-background.jpg');
    background-repeat: no-repeat;
  }