<section>
    <div class="grid-container">
        <div id="first" class="item"></div>
        <div  class="item">
            <form>
            <h1><mat-icon color="accent">perm_contact_calendar</mat-icon></h1>
            <h1 style="font-family:'Courier New', Courier, monospace">SignUp</h1>
            <div><mat-form-field appearance="legacy">
                <mat-label>Enter your Name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>Enter your EMAIL</mat-label>
                <input matInput><mat-icon color="accent" matSuffix> email</mat-icon>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Enter your PHONE NO.</mat-label>
                    <input matInput><mat-icon color="accent" matSuffix> call</mat-icon>
                  </mat-form-field>
            </div>
            <div>
            <mat-form-field appearance="legacy">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button color="accent" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div><button class="btn">Sign Up</button></div>
        </form>
        </div>
    </div>
</section>
